$theme-color: #92cff3;
$theme-color-shade: rgba(146, 207, 243, 0.8);
$support-color: #cdcccc;
$label-color: #dcdcdc;
$no-content-color: #fdfdfd;
$content-color: #ffffff;

@import 'http://fonts.googleapis.com/css?family=Electrolize';

html, body {
  background-color: $no-content-color;
  font-family: 'Electrolize', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  color: $theme-color * 0.6;
}

p {
  text-align:justify;

  &.cooker{
  padding: 11px 300px 11px 300px;
  }
}

img.cooker{
  padding: 11px 11px 11px 11px;
}

img.logo{
  height: 50%;
  padding: 35px 35px 35px 35px;
}

.container {
  text-align: center;
  width: 100%;
  padding-bottom: 144px;

  > header {
    background-color: $no-content-color;
    background-image: url(/images/Stone-Soup-Logo.png);
    background-position: center 97px;
    background-size: (306px / 2) (306px / 2);
    background-repeat: no-repeat;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;

    &.large {
      height: 450px;

      h1 {
        color: $theme-color;
        font-size: 48px;
        left: 0;
        margin: 0;
        position: absolute;
        top: 278px;
        right: 0;
      }

      h2 {
        color: $support-color;
        font-size: 24px;
        left: 0;
        margin: 0;
        position: absolute;
        top: 339px;
        right: 0;
      }

      .social {
        display: block;
        position: absolute;
        right: 32px;
        top: 32px - 11px;
        text-align: right;
        a {
          color: $support-color;
          display: block;
          font-size: 18px;
          padding: 11px 0 11px 0;
          text-decoration: none;
          &:hover {
            color: $theme-color;
          }
        }
      }
    }
  }

> header_new {
  background-color: $no-content-color;
  background-position: center 97px;
  background-size: (306px / 2) (306px / 2);
  background-repeat: no-repeat;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;

  &.large {
    height: 140px;
    background-color: black;
    h1 {
      color: $theme-color;
      font-size: 48px;
      left: 0;
      margin: 0;
      position: absolute;
      top: 278px;
      right: 0;
    }

    h2 {
      color: $support-color;
      font-size: 24px;
      left: 0;
      margin: 0;
      position: absolute;
      top: 339px;
      right: 0;
    }
    .tab_menu {
      display: block;
      position: absolute;
      right: 102px;
      top: 72px - 11px;
      text-align: right;
      a {
        color: $support-color;
        display: inline;
        width:200px;
        font-size: 17px;
        padding: 11px 11px 11px 0;
        text-decoration: none;
        &:hover {
          color: $theme-color;
        }
      }
    }
    .socialImages {
      display: block;
      position: absolute;
      right: 52px;
      top: 12px - 11px;
      img{
        color: $support-color;
        padding: 1px 1px 1px 1px;
        &:hover {
          color: $theme-color;
        }
      }
    }
  }
}

  section.entry {
    background-color: $content-color;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    margin-bottom: 28px;
  }

  article {
    width: 960px;
    text-align: left;
    display: block;
    margin: 0 auto 32px auto;
    padding: 0 32px;

    header {
      padding: 25px 0 23px 0;
      a {
        color: $theme-color;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    nav {
      padding: 25px 0 0 0;
    }

    h1 {
      color: $theme-color;
      font-size: 24px;
      font-weight: 400;
      margin: 0;
    }

    .details {
      color: $theme-color;
      font-size: 14px;
      line-height: 18px * 2;

      span {
        padding-right: 19px;
      }

      strong {
        color: $label-color;
        font-weight: 400;
        padding-right: 3px;
      }

      a {
        color: $theme-color;
      }
    }
  }
  .address {
    position: relative;
    display: block;
    height: 110px;
    margin: 0 0 28px 0;
    border: 1px solid #f7f7f7;
    padding: 2px 0;
    address {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 15%;
      background-color: $theme-color-shade;
      text-align: right;
      padding: 21px 25px 0 0;
      line-height: 24px;
      a {
        color: #FFF;
        text-decoration: none;
      }
    }
    #map-stage {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
    }
  }
}

.logo {
  float: left;
  img {
    height: 75px;
  }
}

.about_page{
  width:100px;
}
