---
layout: about
title: "Stone Soup: Learn, Build, Ship"
tagline: "Stone Soup: Learn, Build, Build Ship in Athens"
---

#about
  h1 About
  p.cooker
    |Stone Soup is a cooperative workspace that hosts developers, designers, illustrators,
    |movie-makers, photographers, marketeers, and business experts.
  p.cooker
    |Stone Soup residents come from around the corner - or straight from the airport - in order to convert their
    |hard work and know-how into a variety of shipping products.
  p.cooker
    |Stone Soup is also home to the Appsterdam in Greece, a non-profit meta-organization
    |by and for App Makers, regardless of platform, occupation, business model or country
    |of origin.
  p.cooker
    |Get involved and stay up to date on their weekly and latest events <a href="http://facebook.com/StoneSoupGr" title="Like Stone Soup On FaceBook" rel="Facebook">here.</a>
