---
layout: contact
title: "Stone Soup: Learn, Build, Ship"
tagline: "Stone Soup: Learn, Build, Build Ship in Athens"
---

#contat
  h1 Contact
  p.cooker
    |We are located at the 5th floor of a 1960s office building on the corner of Akadimias and Charilaou Trikoupi 18. The door is open on weekdays from 10:00 till 21:00 and Saturdays from 11:00 to 18:00.
  p.cooker
    |If you are in the neighborhood, do drop by for a coffee or drink.
  p.cooker
    |Tel. 210 3388566
  p.cooker
    |email. olga@stonesoup.io
