---
layout: workspace
title: "Stone Soup: Learn, Build, Ship"
tagline: "Stone Soup: Learn, Build, Build Ship in Athens"
---

#workspace
  h1 Workspace
  p.cooker
    |Under the Stone Soup roof we are cooking up an influential network of professionals in
    |the creative and technology sphere.
  p.cooker
    |The social aspect is very important in what we do and how we run the space.
  p.cooker
    |We work hard, hang out with, and mentor one-another.
  p.cooker
    |We host educational events and seminars.
  p.cooker
    |We recruit and host development teams.
  p.cooker
    |We regularly host speakers and influential people from outside Greece in order to help
    |strengthen and expand the tech community here in Athens.
  p.cooker
    |We have capacity to host up to 40 professionals.
  p.cooker
    |If this sounds good, drop by with your laptop and join us.
  p.cooker
    |<img class="cooker" src=images/StoneSoupStory.png>
